/*FORMULARIO CONTACTOS*/
/* Importación de fuentes de google fonts */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

:root {
  --primary-color: #335eea;
  --link-color: #506690;
  --btn-hover-color: #2b50c7;
  --lg-heading: #161c2d;
  --text-content: #869ab8;
  --fixed-header-height: 4.5rem;
}

@media screen and (max-width: 768px) {
  body {
    height: 100%;
    font-family: "Noto Sans", sans-serif;
    background-color: #fafbfb;
  }

  .contact_form {
    width: 380px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(4, 4, 71);
    padding-left: 30px;
    padding-right: 20px;
  }

  .input_form {
    background-color: #fbfbfb;
    width: 320px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-color);
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  .texto_mensaje {
    background-color: #fbfbfb;
    width: 320px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-color);
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
  }

  .colocar_nombre {
    display: block;
    float: center;
  }

  .button_contact {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-style: solid;
    border-radius: 10px;
    width: 320px;
    cursor: pointer;
  }

  .button_contact .p_contact {
    padding-bottom: 10px;
    color: #fff;
  }

  .obligatorio {
    color: #fafbfb;
  }

  .aviso {
    font-size: 13px;
    color: #fafbfb;
  }

  .h1_contact {
    font-size: 39px;
    text-align: letf;
    padding-bottom: 20px;
    color: #fafbfb;
  }

  .h3_contact {
    font-size: 16px;
    padding-bottom: 30px;
    color: #fafbfb;
  }

  .p_contact {
    font-size: 14px;
    color: #fafbfb;
  }

  ::-webkit-input-placeholder {
    color: #a8a8a8;
  }

  ::-webkit-textarea-placeholder {
    color: #a8a8a8;
  }

  .formulario_contact .input_form:focus {
    outline: 0;
    border: 1px solid #97d848;
  }

  .formulario_contact .texto_mensaje:focus {
    outline: 0;
    border: 1px solid #97d848;
  }
}

@media screen and (min-width: 768px) {
  .body_contact {
    height: 100%;
    font-family: "Noto Sans", sans-serif;
    background-color: #fafbfb;
  }

  .contact_form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(4, 4, 71);
    padding-left: 30px;
  }

  .input_form {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-color);
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  .texto_mensaje {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-color);
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
  }

  .colocar_nombre {
    display: block;
    float: center;
  }

  .button_contact {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-style: solid;
    border-radius: 10px;
    width: 405px;
    cursor: pointer;
  }

  .obligatorio {
    color: #fafbfb;
  }

  .aviso {
    font-size: 13px;
    color: #fafbfb;
  }

  .h1_contact {
    font-size: 39px;
    text-align: letf;
    padding-bottom: 20px;
    color: #fafbfb;
  }

  .h3_contact {
    font-size: 16px;
    padding-bottom: 30px;
    color: #fafbfb;
  }

  .p_contact {
    font-size: 14px;
    color: #fafbfb;
  }

  .button_contact .p_contact {
    color: #fff;
  }

  ::-webkit-input-placeholder {
    color: #a8a8a8;
  }

  ::-webkit-textarea-placeholder {
    color: #a8a8a8;
  }

  .formulario_contact .input_form:focus {
    outline: 0;
    border: 1px solid #97d848;
  }

  .formulario_contact .texto_mensaje:focus {
    outline: 0;
    border: 1px solid #97d848;
  }
}
