/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM ==== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
/* FONT JOSEFINS SANS y POPPINS */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Poppins:wght@300;400;600;700&display=swap");
/* ==== ROOT RESET ==== */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* ==== CSS VARIABLES ==== */
:root {
  --primary-color: #335eea;
  --link-color: #506690;
  --btn-hover-color: #2b50c7;
  --lg-heading: #161c2d;
  --text-content: #869ab8;
  --fixed-header-height: 4.5rem;
}
/* ==== RESET HTML ==== */
body {
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;

  background-color: #fafbfb;
}
section {
  padding: 1r;
}

ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* ==== LOGO ==== */
.logo h2 {
  font-size: 28px;
  color: var( - primary-color);
}

/*CARDS*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --purple: hsl(240, 80%, 89%);
  --pink: hsl(0, 59%, 94%);
  --light-bg: hsl(204, 37%, 92%);
  --light-gray-bg: hsl(0, 0%, 94%);
  --white: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 7%);
  --text-gray: hsl(0, 0%, 30%);
}

/*body {
  background: var(--light-bg);
  font-family: "Space Grotesk", sans-serif;
} */

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

p {
  font-size: 1em;
  line-height: 1.7;
  font-weight: 300;
  color: var(--text-gray);
}

.description {
  white-space: wrap;
}

/* a {
  text-decoration: none;
  color: inhe rit;
} */

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  gap: 24px;
  padding: 24px;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  padding: 24px;
  background: #fff;
}

.box-top {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
  margin-bottom: 20px;
}

.box-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 20%;
}

.title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-title {
  border-left: 3px solid var(--purple);
  padding-left: 12px;
}

.user-follow-info {
  color: hsl(0, 0%, 60%);
}

.button {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding: 16px;
  color: #000;
  background: transparent;
  box-shadow: 0px 0px 0px 1px black inset;
  transition: background 0.4s ease;
}

.button:hover {
  background: var(--purple);
}

.fill-one {
  background: var(--light-bg);
}

.fill-two {
  background: var(--pink);
}

/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 460px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 640px) {
  .box {
    flex-basis: calc(50% - 12px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 840px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1024px) {
  .box {
    flex-basis: calc(33.3% - 16px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1100px) {
  .box {
    flex-basis: calc(25% - 18px);
  }
}

/* Cambio de WRAP en pagina Cuenta */
.wrap_cuenta {
  display: flex;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  gap: 24px;
  padding: 24px;
  flex-wrap: wrap;
}

.hero_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap_cuenta {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  gap: 24px;
  padding: 24px;
  flex-wrap: wrap;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-intro {
  padding-top: 80px;
}

.grid-columns {
  margin: 50px;
}

.styleBox-img1 {
  width: 400px;
}

.styleBox-img2 {
  width: 350px;
}

.img-styleBox {
  position: relative;
  width: 300px; /* Ajusta el ancho y alto según tus necesidades */
  height: 200px;
}

.img-styleBox img.styleBox-img2 {
  position: absolute;
  top: 200px; /* Ajusta la posición vertical */
  left: 100px; /* Ajusta la posición horizontal */
  z-index: 1; /* Asegura que la imagen se superponga a la imagen de fondo */
}

.intro-title {
  color: #0464e2;
  margin-bottom: 15px;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

.section-intro .intro-title::after {
  content: "";
  display: block;
  height: 1px;
  min-width: 100px;
  background-color: #3a414e;
  position: absolute;
  top: 32%;
  right: 30%;
  transform: translateY(-50%);
}

.wiki-title {
  margin-bottom: 15px;
  font-size: 50px;
  font-family: "Josefin Sans", sans-serif;
}

.paragraph-services {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #888;
}

.buttonwiki {
  background-color: #0464e2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
}
